@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

#projectList {
    max-width: 964px;
    padding: 0 30px 80px;
    margin: 0 auto;
}

.project-list {
    @include clearfix;
    padding: 10px 0;
}